{:paths ["src"]

 :deps
 {aero/aero                  {:mvn/version "1.1.6"}
  lambdaisland/data-printers {:mvn/version "0.9.58"}}

 :aliases
 {:provided
  {:extra-deps
   {com.lambdaisland/cli {:mvn/version "1.30.130"}}}

  :test
  {:extra-paths ["test"]
   :jvm-opts     ["--add-opens=java.base/java.lang=ALL-UNNAMED"
                  "--add-opens=java.base/java.util=ALL-UNNAMED"
                  "--enable-native-access=ALL-UNNAMED"]
   :extra-deps  {com.github.jnr/jnr-posix {:mvn/version "3.2.1"}
                 lambdaisland/kaocha {:mvn/version "1.91.1392"}}}}}
